@font-face {
  font-family: 'fontLogo';
  src: url('logo.ttf');
}
@font-face {
  font-family: 'fontQuote';
  src: url('quote.otf');
}

.navbar-brand{
  font-family: fontLogo;
  font-size: 2em;
  margin-top: -16px;
}

.display-1{
  font-family: fontQuote;
}

.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler {
   outline: none;
   box-shadow: none;
   border: none;
 }

 .arts{
   min-height: 85vh;
   margin-top: 100px;

 }

 .projects {
   min-height: 85vh;
   margin-top: 100px;
 }

 .projectCard {
   /* margin: 10 10 10 10; */
 }

 .projectCard img{
   max-height:  400px;
 }

 .widt{
   
 }


/* .art{
  width: 100px;
} */

/* .arts img{
  max-height: 300px;
} */

.center-cropped {
  width: 800px;
  height: 800px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


 .vertical-center {
  min-height: 100%;
  min-height: 85vh;

  display: flex;
  align-items: center;
}


.footer img{
  max-width: 30px;
}
.footer p{
  font-style: italic;
  font-weight: bold;
}


.nav-item a:hover {
    color: black !important;
    cursor: pointer;
}


#scrollUpButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  /* border: 1px solid black;
  outline: none;
  background-color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px; */

}

.header-shadow{
-webkit-box-shadow: 0px 5px 8px rgba(100, 100, 100, 0.49);
-moz-box-shadow:    0px 5px 8px rgba(100, 100, 100, 0.49);
box-shadow:         0px 5px 8px rgba(100, 100, 100, 0.49);
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #b7b7b7;
}

@media (max-width: 415px){

  .navbar-brand{
    font-size: 1.5em;
    margin-top: -7px;
  }
}


 @media (max-width: 1200px) {
  legend {
    font-size: calc(1.275rem + 0.3vw);
  }
  h1,
  .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  h2,
  .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  h3,
  .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  h4,
  .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  .display-1 {
    font-size: calc(1.725rem + 5.7vw);
  }
  .display-2 {
    font-size: calc(1.675rem + 5.1vw);
  }
  .display-3 {
    font-size: calc(1.575rem + 3.9vw);
  }
  .display-4 {
    font-size: calc(1.475rem + 2.7vw);
  }
  .close {
    font-size: calc(1.275rem + 0.3vw);
  }
}
