@font-face {
    font-family: 'fontLogo';
    src: url('bl.otf');
}
@font-face {
    font-family: 'fontArticle';
    src: url('bee.otf');
}
html{
  position: relative;
  min-height: 100%;
}
body{
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
}
html, body {
   margin:0;
   padding:0;
}
.header{
	width: 100%;
  background: white;
	position: fixed;
	top: 0px;

}
.header-shadow{
	-webkit-box-shadow: 0px 5px 8px rgba(100, 100, 100, 0.49);
	-moz-box-shadow:    0px 5px 8px rgba(100, 100, 100, 0.49);
	box-shadow:         0px 5px 8px rgba(100, 100, 100, 0.49);
}
.header-content{
	width: 70%;
	background: white;
	margin:0px auto;
	height: 50px;
	text-align: center;
	text-decoration: none;
}

.header-art{
	float: left;
}

.header-projects{
	float: left;
}
.header-main{
	height: 80%;
	font-family: fontLogo;
	font-size: 45px;
	text-decoration: none;
  color: black;
  overflow: visible;
}

.header-about{
	float: right;
}
.header-contact{
	float: right;
}

.splited-headers{
	height: 80%;
	padding-top: 10px;
  padding-bottom: 14px;
	width: 18%;
	margin-right: -4px;
	/* display: inline-block; */
  /* background: yellow; */
}
/* .splited-headers{
	height: 80%;
	padding-top: 10px;
  padding-bottom: 14px;
	width: 20%;
	margin-right: -4px;
	display: inline-block;
  background: yellow;
} */

/* .header-main{
	font-family: fontLogo;
	font-size: 15px;
	padding-top: 0;
	color:black;
	decoration:none;
	overflow: visible;
} */


.header-more a:hover{
	color: black;
}

.header-more a{
	color: #C0C0C0;
}

.content{
	letter-spacing: 0.5px;
	width: 70%;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
}
.article{
  width: 100%;
  /* font-size: 20px; */
}

.quote{
  padding: 10px;
  font-size: 100px;
  line-height: 150px;
  text-align: center;
  padding-top: 10%;
  font-family: 'fontArticle';
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}
.sectionTop{
  width: 100%;
  height: 300px;
  overflow: auto;
}
.blockTopLeft{
  height: 100%;
  display: inline-block;
  margin-right: -5px;
  width: 30%;
  text-align: center;
}
.blockTopLeft img{
	max-width:100%;
  max-height: 95%;
  border-radius: 20px;
}
.blockTopRight{
  height: 100%;
  display: inline-block;
  margin-right: -4px;
  width: 65%;
  text-align: center;
  font-family: 'Gamja Flower', cursive;
  font-size: 25px;
  vertical-align:bottom;
  padding-right: 5%;
}

.sectionBottom{
  margin-top: 10px;
  width: 100%;
  height: 350px;
  overflow: auto;
}
.blockBottomLeft{
  height: 100%;
  display: inline-block;
  margin-right: -5px;
  width: 65%;
  max-height: 100%;
  text-align: center;
  vertical-align: bottom;
  font-family: 'Gamja Flower', cursive;
  font-size: 25px;
  padding-left: 5%;
}
.blockBottomRight img{
	max-width:100%;
  max-height: 95%;
  border-radius: 20px;
}
.blockBottomRight{
  height: 100%;
  display: inline-block;
  margin-right: -4px;
  width: 30%;
  text-align: center;
}

.footer{
	width:100%;
  height: 120px;
	margin: auto;
  bottom: 0;
  position: absolute;
}
.footer-content{
	width: 100%;
	text-align: center;
}
.footer p{
  padding-top: 10px;
  margin: 0;
}
.socials img{
  padding: 20px 30px 0px 30px;
	width: 50px;
	height: 50px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: 1px solid black;
    outline: none;
    background-color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #C0C0C0;
}
